@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900;&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h3{
    font-size: 36px;
    line-height: 22px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 16px;
}

p{
    font-size: 16px;
    color: #464040;
    margin: 15px 0 20px 0;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.4s ease;
    
}

.logo{
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.logo:hover{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    background-color: #222;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.3);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* Nav bar */

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 8px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    color: floralwhite;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #618a3d;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: '';
    width: 30%;
    height: 2px;
    background: #618a3d;
    position: absolute;
    bottom: -4px;
    left: 10px;

}

/* homepage */

#home-page{
    background-image: url("images/rastafari-model.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#home-page h4{
    padding-bottom: 15px;
    color: floralwhite;
}
#home-page h2, p{
    color: floralwhite;
}
#home-page h1{
    color: #618a3d;
}
#home-page button{
    background-image: url("images/button-image.jpg");
    background-size: cover;
    padding: 5px 5px;
    color: #97e752 ;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    transition: 0.4s ease;
}
#home-page button:hover{
    border-right: 1px #97e752 solid;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.section-p1{
    padding: 40px 80px;
}

#features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#features .feature-box{
    width: 180px;
    text-align: center;
    padding: 25px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.3);
    border: 1px solid #cce7d0;
    border-radius: 10px;
    margin: 15px 0;
}
#features .feature-box:hover{
    box-shadow: 10px 100px 44px rgba(79, 72, 72, 0.3);
}
#features .feature-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #618a3d;
    background-color: #464040;
}

#features .feature-box img{
    max-width: 140px;
    max-height: 140px;
    margin-bottom: 5px;
    
}